@-moz-document url-prefix("chrome:") {
  /*Tab Font Size*/
  :root[--str8edge-enable_custom_tab_font_size] .tabbrowser-tab .tab-label {
    font-size: var(--str8edge-custom-tab_font_size) !important;
  }

  /*Pending Tab Name Opacity*/
  .tabbrowser-tab[pending="true"] .tab-label-container, .tabbrowser-tab[discarded=""] .tab-label-container {
    opacity: var(--str8edge-inactive_tab_name_opacity) !important;
    transition: opacity 0.3s ease-in-out;
  }
  
  /*Pending Tab Icon Opacity*/
  .tab-icon-image[pending="true"], .tab-icon-image[discarded=""] {
    opacity: var(--str8edge-inactive_tab_icon_opacity) !important;
    transition: opacity 0.3s ease-in-out;
  }
}
